.container{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
@media (max-width: 550px) {
 .container {
    display: none;
  }
}
.category_box{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 13px;
}
.category_box:hover{
  background-color: #0083ca;
  color: white;
  cursor: pointer;
  padding: 5px;
}