.container{
  display: flex;
  width: 90%;
  margin: auto;
  overflow: hidden;
  margin-top: 100px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
}

.mobile-drop,.furniture-drop,.electronics-drop,.home-drop,.kids-drop,.sports-drop{
    margin-left: 3rem;
    float: left;
    overflow: hidden;
}
.mobile-drop-content{
  position: absolute;
  width: 80%;
  top: 145;
  left: 0;
  z-index: 1000;
  background: #fff;
  padding: 20px 15px;
  border: 1px solid rgba(0,0,0,.15);
  margin: 0;
  margin-left: 10rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: none;
}
.furniture-drop-content{
    position: absolute;
    width: 80%;
    top: 145;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: none;
}

.electronics-drop-content{
    position: absolute;
    width: 80%;
    top: 145;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: none;
}
.home-drop-content{
    position: absolute;
    width: 80%;
    top: 145;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: none;
}
.kids-drop-content{
  position: absolute;
    width: 80%;
    top: 145;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: none;
}
.sports-drop-content{
    position: absolute;
    width: 80%;
    top: 145;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: none;
}
.mobile-drop:hover .mobile-drop-content, .furniture-drop:hover .furniture-drop-content, .electronics-drop:hover .electronics-drop-content, .home-drop:hover .home-drop-content, .kids-drop:hover .kids-drop-content, .sports-drop:hover .sports-drop-content {
    display: block;
  }
  

.mobile-drop-btn a, .furniture-drop-btn a, .electronics-drop-btn a, .home-drop-btn a, .kids-drop-btn a, .sports-drop-btn a {
  font-weight: lighter;
  font-size: 12px;
  font-family: ProximaNova-bold,Arial,Helvetica,sans-serif;
}
