.container{
  display: flex;
  width: 85%;
  margin: auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
@media (min-width: 1008px) {
  .container {
    display: none;
  }
}

.mobile-drop,.furniture-drop,.electronics-drop,.home-drop,.kids-drop,.sports-drop{
    margin-left: 3rem;
    float: left;
    overflow: hidden;
}
.mobile-drop-content{
  position: absolute;
  width: 80%;
  top: 152px;
  left: 0;
  z-index: 91;
  background: #fff;
  padding: 20px 15px;
  border: 1px solid rgba(0,0,0,.15);
  margin: 0;
  margin-left: 10rem;
  box-shadow: 0 2px 12px rgb(0 0 0 / 18%);
  display: none;
}
.furniture-drop-content{
    position: absolute;
    width: 80%;
    top: 152px;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: 0 2px 12px rgb(0 0 0 / 18%);
    display: none;
}

.electronics-drop-content{
    position: absolute;
    width: 80%;
    top: 152px;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: 0 2px 12px rgb(0 0 0 / 18%);
    display: none;
}
.home-drop-content{
    position: absolute;
    width: 80%;
    top: 152px;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: 0 2px 12px rgb(0 0 0 / 18%);
    display: none;
}
.kids-drop-content{
  position: absolute;
    width: 80%;
    top: 152px;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: 0 2px 12px rgb(0 0 0 / 18%);
    display: none;
}
.sports-drop-content{
    position: absolute;
    width: 80%;
    top: 152px;
    left: 0;
    z-index: 91;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid rgba(0,0,0,.15);
    margin: 0;
    margin-left: 10rem;
    box-shadow: 0 2px 12px rgb(0 0 0 / 18%);
    display: none;
}
.mobile-drop:hover .mobile-drop-content, .furniture-drop:hover .furniture-drop-content, .electronics-drop:hover .electronics-drop-content, .home-drop:hover .home-drop-content, .kids-drop:hover .kids-drop-content, .sports-drop:hover .sports-drop-content {
    display: block;
  }
  

.mobile-drop-btn a, .furniture-drop-btn a, .electronics-drop-btn a, .home-drop-btn a, .kids-drop-btn a, .sports-drop-btn a {
  color: grey;
  font-weight: lighter;
  font-size: 12px;
  font-family: ProximaNova-bold,Arial,Helvetica,sans-serif;
}
.mobile-drop a:hover,.furniture-drop a:hover,.electronics-drop a:hover,.home-drop a:hover,.kids-drop a:hover,.sports-drop a:hover {
  color:  #0083ca;
}